.error {
    background-color:#DDAAAA;
    border: 1px;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.highlight {
    background-color:#AADDAA;
}

.success {
    background-color:#AADDAA;
    border: 1px;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.canvas { border: 1px solid black; }